.env
.env.*
!.env.example

node_modules/
.DS_Store

__pycache__/
*.py[cod]

*.log
.cache/
.codex/*
!.codex/skills/
.codex/skills/*
!.codex/skills/hermes-app-architecture/
!.codex/skills/hermes-app-architecture/**
!.codex/skills/openspec-apply-change/
!.codex/skills/openspec-apply-change/**
!.codex/skills/openspec-archive-change/
!.codex/skills/openspec-archive-change/**
!.codex/skills/openspec-explore/
!.codex/skills/openspec-explore/**
!.codex/skills/openspec-propose/
!.codex/skills/openspec-propose/**
dist/
coverage/
